:root {
    --red: hsl(4, 100%, 67%);
    --dark-blue:hsl(234, 29%, 20%);
    --darker-blue:hsl(235, 18%, 26%);
    --grey:hsl(0, 0%,58%);
    --white:hsl(0, 0%, 100%);
}


* {
  font-family: sans-serif;
  box-sizing: border-box;
}



body {
  margin:0;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--darker-blue);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}

.card {
 display: flex;
 flex-direction: column;
 background-color: var(--white);
 width: 100%;
 height: 90%;
 border-radius: 0;
 box-shadow: none;

}

 .card-header {
 height: 17.5rem;
 background-image: url('/assets/images/illustration-sign-up-mobile.svg');
 background-repeat: no-repeat;
 width: 100%;
 background-size: cover;
 background-position: center;
 border-radius: 0 0 1.25rem 1.25rem;

}

.card-body {
  padding: 2.5rem 1.5rem;
} 

 .card-body h1 {
  font-size: 2.5rem;
    color:var(--dark-blue);
    font-weight: 700;
    margin-top: 0;
    margin-bottom:1.5rem;
}

.card-body p {
  font-size: 1rem;
    color:var(--dark-blue);
    margin-bottom: 1.5rem;
}

.card-list p {
  font-weight: 400;
  color: var(--dark-blue);

}

ul {
  padding: 0;
  list-style: none;
  color: var(--dark-blue);
}

ul > li {
  line-height: 1.5;
  font-size: 1.125rem;
  background-image: url('/assets/images/icon-success.svg');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 0 0.313rem;
  padding-left: 1.563rem;
  margin-bottom: 0.75rem;
}

li:last-child {
  margin-bottom: 1rem;
}



.form-group {
  margin-bottom: 1.25rem;

}

label {
  font-weight: bolder;
  display: block;
  margin-bottom: 0.313rem;
  color: var(--darker-blue);
  

}

input[type="email"]{
  width: 100%;
  padding: 0.625rem;
  line-height: 2.0;
  border: 0.063rem solid var(--grey);
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.error-message {
  float: right;
  font-weight: bold;
  font-size: 0.9em;
}

.invalid-group input[type="email"] {
  border-color: #dc3545; 
  background-color: #f8d7da; 
  color: #721c24; 
}

.invalid-group .error-message {
  color: #dc3545; 
}

button {
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: var(--dark-blue);
  color: var(--white);
  font-weight: 700;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
} 

button:hover:not(:disabled) {
  background: linear-gradient(to right, #ff6a3a, #ff527b); 
  box-shadow: 0 0.625rem 1.25rem rgba(255, 82, 123, 0.5);
}


/* Desktop Viewpoint */
 @media screen and (min-width: 56.25rem) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    padding: 0;
    min-height: auto;
  }


  .card {
    flex-direction: row-reverse;
    padding:1.25rem;
    height:auto;
    /* width: auto; */
    max-width: 57.5rem;
    border-radius: 1.875rem;
    box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.2);
  }


  .card-header {
    flex:1;
    background-image: url('/assets/images/illustration-sign-up-desktop.svg');
    background-size: cover;
    background-position: center;
    min-height: 35.625rem;
    border-radius: 0.625rem;
  }

  .card-body {
    flex:1;
  }

  button {
    padding: 1.25rem;
  }

  button:hover:not(:disabled) {

  background: linear-gradient(to right, #ff6a3a, #ff527b); 
  box-shadow: 0 0.625rem 1.25rem rgba(255, 82, 123, 0.5);
}
 }