 .attribution { 
    font-size: 11px;
     text-align: center; }

    .attribution a { 
        color: hsl(228, 45%, 44%);
     }

@font-face {
    font-family: Roboto;
    src:url('/assets/fonts/Roboto-Regular.ttf');
}

:root {
    --red: hsl(4, 100%, 67%);
    --dark-blue:hsl(234, 29%, 20%);
    --darker-blue:hsl(235, 18%, 26%);
    --grey:hsl(0, 0%,58%);
    --white:hsl(0, 0%, 100%);
}

* {
    font-family: 'Roboto',sans-serif;
}

html {
  /* box-sizing: border-box; */
  font-size: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin:0;
  background-color:var(--light-grayish-blue);
  color:var(--very-dark-grayish-blue);
  font-weight: 400;
  line-height: 1.4;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  font-style: italic;
  background-repeat:no-repeat;
  background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: peru;
    min-block-size: 100vh;
  
}

.card    {
    background-color: firebrick;
    inline-size: 20.4375rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card-header::before {
   content:'Here is before';
   position: absolute;
   background-size: cover;

    /* background-image: url("./assets/images/illustration-sign-up-mobile.svg"); */
}

.card-header {
    flex-basis: 10rem;
    position: relative;
    background-color: skyblue;
    border-radius:  0 0 15px 15px;
}

.card-body{
    padding:15px;
}

.intro {
    background-color: greenyellow;
}



ul {
    padding:0;
    margin: 0;
    list-style: none;
}

ul > li {
    background-image: url('./assets/images/icon-list.svg');
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 16px 16px;
    padding-left: 25px;
    margin-bottom: 12px;
    line-height: 1.4;
    font-size: 16px;
}

li:last-child {
    margin-bottom: 0;
}

.sub-section {
    background-color: plum  ;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

label {
    font-weight: 700;
    font-size:10px;

}

input {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
    line-height: 30px;
    border: 1px solid green;
    padding-left: 5px;
}

::placeholder {
    color:peru;
    padding-left: inherit;
}

/* Add pseudoclass focus for input and button */

/* include tabindex? transition animation */

button {
    background-color:var(--dark-blue);
    line-height: 30px;
    color:var(--white);
    font-weight: 700;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
}

.success-mobile {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inline-size: 20.4375rem;
}